
<style>  
td
{
width=100%;
background-color:#b0c4de;
border-style:solid;
border-width:5px;
border-color:white;
font-family:"Times New Roman";
font-size:60px;
height: 150px;
vertical-align: middle;
text-align:center;
display: table-cell;
}
</style>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>test</title>
    </head>

    <body>
        <table width=100%>
            <tr>
                <td>Reiss</td>
            </tr>
            <tr>
                <td>Ted Baker</td>
            </tr>
        </table>
    </body>
</html>